/*css reset*/
			html, body, div, span, applet, object, iframe,
			h1, h2, h3, h4, h5, h6, p, blockquote, pre,
			a, abbr, acronym, address, big, cite, code,
			del, dfn, em, img, ins, kbd, q, s, samp,
			small, strike, strong, sub, sup, tt, var,
			b, u, i, center,
			dl, dt, dd, ol, ul, li,
			fieldset, form, label, legend,
			table, caption, tbody, tfoot, thead, tr, th, td,
			article, aside, canvas, details, embed, 
			figure, figcaption, footer, header, hgroup, 
			menu, nav, output, ruby, section, summary,
			time, mark, audio, video {
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 100%;
				font: inherit;
				vertical-align: baseline;
			}
			/* HTML5 display-role reset for older browsers */
			article, aside, details, figcaption, figure, 
			footer, header, hgroup, menu, nav, section {
				display: block;
			}
			body {
				line-height: 1;
			}
			ol, ul {
				list-style: none;
			}
			blockquote, q {
				quotes: none;
			}
			blockquote:before, blockquote:after,
			q:before, q:after {
				content: '';
				content: none;
			}
			table {
				border-collapse: collapse;
				border-spacing: 0;
			}

/*main*/

body {
	background-color: #ffff;
}

.wrapper{
	min-height: 50px;
	/* outline:  1px solid rgb(0, 30, 255); */
	width:  1600px;
	margin:  0 auto;
}

/*header*/

.header {
	position: relative;
	background: url('img/footer_background.png') no-repeat;
	min-height: 500px;
	height: 670px;
}

header::before {
	content: "";
	position: absolute;
	background-color: rgba(0, 0, 0, .5);
	width: 1600px;
	height: 100%;
	z-index: 5;
}

.header-conteiner {
	position: absolute;
	z-index: 25;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.header-conteiner .logo {
	color: white;
	padding-right: 20px;
	font-family: 'Kaushan Script', cursive;
	font-size: 36px;
	padding: 70px 175px 80px 240px;
	z-index: 25;
}

.header-conteiner .menu-block ul {
	padding: 70px 240px 80px 155px;
}

.header-conteiner .menu-block ul li {
	font-size: 18px;
	text-decoration: none;
	display: inline-block;
	border-bottom: solid 2px transparent;
	transition: border .4s linear;
}

.header-conteiner .menu-block ul li a{
	font-family: 'Nunito Sans', sans-serif;
	color: white;
	text-decoration: none;
	padding: 20px 20px 10px 20px;
	display: block;
	text-align: center;
}

.header-conteiner .menu-block li:hover {
	border-bottom: solid 2px white;
}

.header-conteiner .header-text h1, h2 {
	font-family: 'Nunito Sans', sans-serif;
	color: white;
	font-size: 48px;
	text-align: center;
	padding-bottom: 30px;
}

sup {
	vertical-align: 10px;
	font-size: 26px;
}

.header-text {
	text-align: center;
}

.header-conteiner .header-text h2 {
	font-size: 40px;
	padding-bottom: 35px;
}

.header-conteiner .header-text p{
	text-align: center;
	color: white;
	font-size: 18px;
	font-family: 'Nunito', sans-serif;
}

.header-conteiner .header-text p+p {
	padding-bottom: 40px;
	padding-top: 25px;
}

.header-btn {
	font-family: 'Nunito', sans-serif;
	color: white;
	border: solid 2px white;
	font-size: 14px;
	display: inline-block;
	width: 155px;
	padding: 10px 0;
	margin: 0 30px;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
}

.header-btn:hover {
	background: white;
	color: black;
}

.header-scroll {
	position: absolute;
	border-right: solid 2px white;
	border-bottom: solid 2px white;
	width: 25px;
	height: 25px;
	bottom: -150px;
	transform: rotate(45deg);
	z-index: 25;
}


/* inside-baget */


.inside-baget {
	position: relative;
	background: url('img/baget_background.png') no-repeat;
	min-height: 500px;
	height: 650px;
}

.inside-baget-text {
	position: absolute;
	z-index: 25;
	left:50%;
	transform:translate(-50%); 
}

.inside-baget-text h2 {
	font-size: 32px;
	color: black;
	padding-top: 60px;
}

.inside-baget-text p {
	font-size: 14px;
	text-align: center;
	font-family: 'Nunito', sans-serif;
	padding: 10px 0;
}

.inside-baget::before {
	content: "";
	position: absolute;
	background-color: rgba(255, 252, 252, 0.5);
	width: 1600px;
	height: 100%;
	z-index: 5;
}

.inside-baget-image {
	position: absolute;
	z-index: 25;
	left:50%;
	top: 40%;
	transform:translate(-50%);
	background: url('img/Wave\ icon.png') no-repeat top;
}

.inside-bage-scroll {
	position: absolute;
	border-right: solid 2px black;
	border-bottom: solid 2px black;
	width: 25px;
	height: 25px;
	left: 50%;
	bottom: 46px;
	transform:translate(-50%) rotate(45deg) ;
	z-index: 25;
}
